h1{
    color:rgb(3,161,252);
    font-family: Arial, Helvetica, sans-serif;
    outline: 50px;
}

body{
    background-color: white;
    padding: 0;
    margin: 0;
}

.navbar{
    background-color:rgb(3,161,252);
    overflow: hidden;
    
}

.navbar a{
    float: left;
    color:black;
    text-align:center;
    padding: 14px;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif 

}

.navbar a:hover{
    text-decoration: underline;
    color: black;

    
}

#content{
    margin: 40px;
}

.invalidmessage{
    border: 2px solid red;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.validmessage{
    border: 2px solid green;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}

td{
    height: 2em;
    width: 2em;
    outline: solid;
    outline-color: rgb(3,161,252);
    text-align: center;
    font-size: 24px;
    color:black ;
    font-family: Arial, Helvetica, sans-serif                                       
  }
  

/* tr{
    height: 2em;
    width: 2em;
    padding: 1em;
    outline: solid;
    outline-color: black;
    text-align: center;
    font-size: 18px;
    color: rgb(3,161,252) ;                                         
  } */
